{% extends "base.html" %}

{% load static %}

{% block title %}Detail-{{ article.nom }} {% endblock %}
{% block content %}

    <div class="card mb-3 mx-auto" style="max-width: 90%; max-height: 950px;">
  <div class="row g-0">
    <div class="col-md-4">
      <div id="articleImageCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner rounded-start">
          
        {% if article.images.all %}
          {% for image in  article.images.all %}

            <div class="carousel-item active" data-bs-interval="10000">
            <img src="{{ image.image_file.url }}" class="d-block w-100" alt="...">
            </div>
          {% endfor %}
        {% else %}
            <h3>PAs d'image disponible</h3>
        {% endif %}

        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#articleImageCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Précédent</span>
        </button>
        
        <button class="carousel-control-next" type="button" data-bs-target="#articleImageCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Suivant</span>
        </button>
        
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#articleImageCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#articleImageCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#articleImageCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>

      </div>
      </div>
    
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title" id="nom-produit">{{ article.nom  }}</h5>
        <p class="card-text">
                {{ article.description }}
        </p>
        <p class="card-text"><small class="text-body-secondary"> {{ article.date_added }}</small></p>
        <p class="card-text"><small class="text-body-secondary" >Produit: {{ article.produit.nom }}</small></p>
        <p class="card-text"><small class="text-body-secondary">Marque: {{ article.marque }}</small></p>
        <p class="card-text"><small class="text-body-secondary">Couleur: {{ article.couleur }}</small></p>
        <p class="card-text"><small class="text-body-secondary">Prix: <span id="prix-produit">{{ article.prix }} </span> GNF</small></p>
      </div>
      <p><button class="btn btn-success" id="btn-ajouter">Ajouter au panier</button></p>
    </div>
  </div>
</div>


<script>
    let button = document.querySelector("#btn-ajouter");

    // 1. recuperer ou initialiser le panier depuis le LocalStorage
    let panier = JSON.parse(localStorage.getItem("panier")) || [];
    
    // Afficher le panier initial
    console.log("Initial Panier:", panier);

    button.addEventListener("click", () => {
        
        // Recuperation des information du produit 
        let nom_produit = document.getElementById("nom-produit").innerText.trim();
        let prix_produit = document.getElementById("prix-produit").innerText.trim();
        
        // Creer un nouvel article
        let newArticle = {
            nom: nom_produit,
            // convertir le prix en float
            prix: parseFloat(prix_produit), 
            quantite: 1
        };

        // 2. verifier si l'rticle est deja dans le panier avec la fonction find en js
        // on compare l'article avec les produit qui qui ont le meme nom
        let existingArticle = panier.find(item => item.nom === newArticle.nom);

        if (existingArticle) {
            // 3.augmenter la quantte si l'article existe deja
            existingArticle.quantite += 1;
            console.log(`Quantité de ${newArticle.nom} augmentée. Nouvelle quantité: ${existingArticle.quantite}`);
        } else {
            // 4. si l'article n'existe pas ajouter un nouvel article au panier
            panier.push(newArticle);
            console.log(`${newArticle.nom} ajouté au panier.`);
        }

        // 5. enregistrer le panier dans le localStorage
        localStorage.setItem("panier", JSON.stringify(panier));

        console.log("Panier mis à jour:", panier);
        
        // informer que l'article a ete ajoute au panier
        alert(`${newArticle.nom} a été ajouté au panier !`);
    });

    console.log("Script loaded. Current panier state:", panier);
</script>
    {% block js  %}
    <script>
      panier = JSON.parse(localStorage.getItem("panier")) || [];
      let span = document.querySelector("#quantiteArticle")
      console.log(span)

      if (panier){
        span.innerText = panier.length
      }
    </script>
    {% endblock %}
{% endblock %}

